<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets async="true">
		<target name="ServerInfo" xsi:type="File"
				keepFileOpen="true"
				fileName="${basedir}/../Logs/${logger}.Info.log"
				archiveFileName="${basedir}/../Logs/archives/${logger}.Info.{#}.log"
				archiveEvery="Day"
				archiveAboveSize="104857600"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="14"
				layout="${longdate} ${message}" />
	</targets>

	<targets async="true">
		<target name="ServerWarn" xsi:type="File"
				keepFileOpen="true"
				fileName="${basedir}/../Logs/${logger}.Warn.log"
				archiveFileName="${basedir}/../Logs/archives/${logger}.Warn.{#}.log"
				archiveEvery="Day"
				archiveAboveSize="104857600"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="30"
				layout="${longdate} ${message}" />
	</targets>

	<targets async="true">
		<target name="ServerError" xsi:type="File"
				keepFileOpen="true"
				fileName="${basedir}/../Logs/${logger}.Error.log"
				archiveFileName="${basedir}/../Logs/archives/${logger}.Error.{#}.log"
				archiveEvery="Day"
				archiveAboveSize="104857600"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="90"
				layout="${longdate} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
	</targets>

	<rules>
		<logger ruleName="ServerInfo" name="*" minlevel="Info" maxlevel="Info" writeTo="ServerInfo" />
		<logger ruleName="ServerWarn" name="*" minlevel="Warn" maxlevel="Warn" writeTo="ServerWarn" />
		<logger ruleName="ServerError" name="*" minlevel="Error" maxlevel="Error" writeTo="ServerError" />
	</rules>
</nlog>
